schema/widgets.nvdl

<rules xmlns='http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0'>
  <namespace ns='http://www.w3.org/ns/widgets'>
    <validate schema='widgets.rnc' schemaType='application/x-rnc'>
      <mode>
        <namespace ns='http://www.w3.org/ns/widgets' match='attributes'>
          <reject/>
        </namespace>
        <namespace ns='' match='attributes'>
          <attach/>
        </namespace>
        <namespace ns='http://www.w3.org/XML/1998/namespace' match='attributes'>
          <attach/>
        </namespace>
        <anyNamespace match='elements attributes'>
          <allow/>
        </anyNamespace>
      </mode>
    </validate>
  </namespace>
</rules>




